<div class="container">
  <div class="List">
    <h2 *ngIf="todos.length < 1" style="color: var(--c-dark); text-align:center; width:100%">Todo List Is Empty, Add
      One!</h2>
    <ul>
      <li *ngFor="let todo of todos">
        <input class='done' type='checkbox' [defaultChecked]="todo.done" (change)="change(todo.id, $event)" />

        <p *ngIf="todo.done" style="text-decoration: line-through; opacity:0.5; text-align:start;">{{todo.name}}</p>
        <p *ngIf="!todo.done" style="text-decoration: none; text-align:start">{{todo.name}}</p>
        <div class='flex-grow'>
          <button (click)="onDelete(todo.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>
